# Ignore .env
.env

/config/publicnewsdroid-df382-firebase-adminsdk-fbsvc-5411935a19.json
# Ignore node_modules
node_modules/

# Ignore ai_model directory
ai_model/

# Other directories or files you don't want to push
uploads/
